<!DOCTYPE html>
<html lang="hu">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vállalatirányítási szoftver</title>
</head>
<body>
    
    <header class="mainheader">
        <h1>{{title}}</h1>
        <div class="loginbuttonsdiv">
            <button id="loginbuttonfirst" class="loginbuttons">Munkavállalói felület</button>
            <button routerLink="/for-employers" id="loginbuttonsecond" class="loginbuttons">Munkáltatói felület</button>
        </div>
    </header>
    <div class="container">
        <h2 class="introduceh2">Modern, online vállalatirányítási rendszer kifejezetten kis- és középvállalkozások számára.</h2>
        <p class="introduce">Segítünk a dolgozók nyilvántartásában, dokumentumkezelésben, szabadságok és táppénzek kezelésében, valamint az adminisztráció átláthatóbbá és gyorsabbá tételében.</p>
        <button class="ourselvesbtn">
            <span>Bővebben rólunk</span>
            <img src="../pics/lightbulb.png" class="lightbulbpic">
            
        </button>
        <div class="attentioncardsdiv">
            <div class="attentioncards" >
                <img class="cardimages" src="../pics/workersicon.png">
                <p>Dolgozói nyilvántartás</p>
            </div>
            <div class="attentioncards">
                <img class="cardimages" src="../pics/documenticon.png">
                <p>Dokumentumkezelés</p>
            </div>
            <div class="attentioncards">
                <img class="cardimages" src="../pics/shiftsicon.png">
                <p>Beosztáskezelés</p>
            </div>
            <div class="attentioncards">
                <img class="cardimages" src="../pics/salaryicon.png">
                <p>Bérpapírok, fizetések</p>
            </div>
            

        </div>

    </div>
</body>
</html>
