.backtomain{
    padding: 19px;
    font-size: 19px;
    margin: 14px;
    border: none;
    border-radius: 9px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    color:black;
}

.backtomain:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    
}

.backtomainpic {
  width: 16px;          
  height: auto;
  
}

.conditions{
  font-size: 20px;
}

.conditionspics{
  width: 20px;          
  height: auto;

}

.afterregistration{
  text-align: center;
}